<template>
    <section class="section">
        <div class="panel list-group">
        <div
            v-for="(course, index) in courses"
            class="panel-block list-group-item"
            :id="`course-${index}`"
            :key="`course-${index}`"
        >
            <figure class="image is-128x128">
                <img :src="getLogo(course.image)">
            </figure>
            <h1 class="title">
                {{course.title}}
            </h1>
            <h2 class="subtitle">
                {{getParsedDate(course)}} - {{course.hours}} hours - {{course.enterprise}}
            </h2>
        </div>
    </div>
    </section>
</template>

<script>
import courses from '../../data/courses.js'

export default {
    name: 'CoursesPage',
    data() {
        return {
            courses
        }
    },
    methods: {
        getLogo(image) {
            return require('../../assets/images/logos/' + image)
        },
        getParsedDate(course) {
            return course.date.month + ' ' + course.date.year
        }
    }
};
</script>

<style scoped>
.section {
    min-height: 100%;
    padding: 3rem;
}

.list-group-item {
    border: none;
}
</style>
