<template>
    <section
        v-show="!isClosed"
        id="chat"
        class="column is-5 is-offset-7 is-12-mobile"
        >
        <div
            class="chat-header has-background-primary columns is-mobile"
            >
            <div class="column is-2">
                <span class="image"></span>
            </div>
            <div class="chat-header-name has-text-white column is-6">
                <span><b>Ricardo</b></span>
                <br>
                <span 
                    v-if="typing"
                    >
                    &nbsp;is typing <span v-for="point in points">{{point}}</span>
                </span>
                <span 
                    v-else
                    >
                    &nbsp;    
                </span>
            </div>
            <div class="column is-2 is-offset-2">
                <img
                    v-if="isActive"
                    :src="getImage('minus.png')"
                    @click="toggle"
                    class="pointer"
                    >
                <img
                    v-else
                    :src="getImage('plus.png')"
                    @click="toggle"
                    class="pointer"
                    >
                &nbsp;
                <img
                    :src="getImage('cancel.png')"
                    @click="isClosed = true"
                    class="pointer"
                    >
            </div>
        </div>
        <div class="chat-body has-background-white-bis">
            <Message 
                v-for="message in visibleMessages"
                :key="JSON.stringify(message)"
                :sender="message.sender"
                :text="message.text"
                >
            </Message>
            <span id="bottom-messages"></span>
        </div>
        <div class="chat-footer has-background-white-bis">
            <form>
                <div class="field has-addons">
                    <div class="control">
                        <input
                            v-model="message"
                            @keyup.enter="addMessage"
                            class="input" 
                            type="text" 
                            placeholder="Write a question"
                            >
                    </div>
                    <div class="control">
                        <a
                            @click="addMessage"
                            class="button is-primary"
                            >
                            <img :src="sendButton">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
import textMessages from '../../data/textMessages.js'
import Message from './Message'
import anime from 'animejs'
const ricardo = 0
const other = 1
const maxPoints = 3

export default {
    name: 'Chat',
    components: {
        Message
    },
    data() {
        return {
            sizes: null,
            isActive: true,
            isClosed: false,
            visibleMessages: [],
            points: [],
            typing: true,
            message: null
        }
    },
    methods: {
        getImage(image) {
            return require('../../assets/images/' + image)
        },
        write(messages) {
            setTimeout(() => {
                this.visibleMessages.push(messages.shift())

                if (messages.length > 0) {
                    this.write(messages)
                } else {
                    this.typing = false
                }
            }, 3000)
        },
        addPoint() {
            setTimeout(() => {
                this.points.push('.')
                
                if (this.typing) {
                    if (this.points.length > maxPoints) {
                        this.points = []
                    }
                    this.addPoint()
                }
            }, 400)
        },
        addMessage() {
            if (this.message !== null) {
                this.visibleMessages.push({
                    'text': this.message,
                    'sender': other
                })
                this.message = null
            }
        },
        toggle() {
            let options = {}
            if (this.isActive) {
                options = {
                    padding: 0,
                    height: 0
                }
            } else {
                options = {
                    paddingLeft: this.sizes.body.paddingLeft,
                    paddingTop: this.sizes.body.paddingTop,
                    paddingRight: this.sizes.body.paddingLeft,
                    paddingBottom: this.sizes.body.paddingTop,
                    height: this.sizes.body.height,
                }
            }

            anime({
                targets: '.chat-body',
                duration: 500,
                easing: 'linear',
                ...options
            })

            this.isActive = !this.isActive
        },
        size() {
            let body = document.querySelector('.chat-body')
            let bodyCompStyles = window.getComputedStyle(body)
            
            let _bodyWidth = bodyCompStyles.getPropertyValue('width')
            let _bodyHeight = bodyCompStyles.getPropertyValue('height')
            let _bodyPaddingLeft = bodyCompStyles.getPropertyValue('padding-left')
            let _bodyPaddingTop = bodyCompStyles.getPropertyValue('padding-top')

            return {
                'body': {
                    width: _bodyWidth,
                    height: _bodyHeight,
                    paddingLeft: _bodyPaddingLeft,
                    paddingTop: _bodyPaddingTop
                }
            }
        },
        scroll() {
            let element = document.querySelector('#bottom-messages')
            let chatBody = document.querySelector('.chat-body')
            
            chatBody.scrollTo({
                'behavior': 'smooth',
                'left': 0,
                'top': element.offsetTop
            })
        }
    },
    computed: {
        sendButton() {
            return require('../../assets/images/send-button.png')
        }
    },
    mounted() {
        this.sizes = this.size()
        let initialMessages = textMessages.map(message => {
            return {
                'text': message,
                'sender': ricardo
            }
        });
        this.write(initialMessages)
        this.addPoint()
    },
    updated() {
        this.scroll()
    }
};
</script>

<style scoped>
@media only screen and (min-width: 768px) {
    section {
        margin-top: 5rem;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    section {
        margin-top: 5rem;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

section > div {
    padding: 1rem;
}

.chat-header {
    padding: 0 !important;
    margin: 0 !important;
}

.chat-header-name {
    display: flex;
    align-items: center;
}

.image {
    height: 3rem;
    width: 3rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.chat-body {
    margin-top: 0;
    margin-bottom: 0;
    height: 12rem;
    overflow-y: auto;
}

input, .button {
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.field.has-addons .control:not(:last-child) {
    width: 100%;
}
</style>
