<template>
    <div class="message">
        <div
            :class="{other: sender, ricardo: !sender}"
            class="message-body"
            >
            <span class="text">{{text}}</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Message',
    props: ['text', 'sender']
};
</script>

<style scoped>
.message {
    margin: 1rem;
}

.ricardo {
    text-align: left;
}

.other {
    text-align: right;
    border-width: 0 4px 0 0;
}

.text {
    vertical-align: middle;
}
</style>
