<template>
    <div 
        id="bubble"
        @click="toggle"
        :style="bubblePosition"
        >
    </div>
</template>

<script>
import Vuex from 'vuex'
import anime from 'animejs'

export default {
    name: 'Bubble',
    methods: {
        toggle() {
            let offset = this.offset()
            let body = document.querySelector('.chat-body')
            let bodySize = this.size(document.querySelector('.chat-body'))
            let padding = window.getComputedStyle(body, null).getPropertyValue('padding-top') * 2
            
            //doesnt works well
            if (this.isActive) {
                anime.timeline({}).add({
                    targets: '.chat-body, .chat-footer, .chat-footer *',
                    duration: 1000,
                    easing: 'linear',
                    //direction: 'alternate',
                    padding: {
                        value: 0,
                        duration: 500,
                        easing: 'easeOutQuad'
                    },
                    height: {
                        value: 0,
                        duration: 500,
                        easing: 'easeOutQuad'
                    }
                })/*.add({
                    targets: '.chat-header-name',
                    duration: 500,
                    easing: 'linear',
                    opacity: 0
                }).add({
                    targets: '.chat-header',
                    duration: 1000,
                    easing: 'linear',
                    padding: {
                        value: 0,
                        duration: 500,
                        easing: 'easeOutQuad'
                    },
                    width: {
                        value: 0,
                        duration: 500,
                        easing: 'easeOutQuad'
                    },
                    translateX: 500
                })*/
            } else {

            }
            
            this.$store.commit('toggle')
        },
        offset() {
            /**
             * @see https://stackoverflow.com/questions/442404/retrieve-the-position-x-y-of-an-html-element
             */
            let el = document.getElementById('bubble')

            let _x = 0
            let _y = 0
            while(el && !isNaN(el.offsetLeft) && !isNaN(el.offsetTop)) {
                _x += el.offsetLeft - el.scrollLeft
                _y += el.offsetTop - el.scrollTop
                el = el.offsetParent
            }
            
            return { top: _y, left: _x }
        },
        size(element) {
            let _width = element.offsetWidth
            let _height = element.offsetHeight
            
            return { width: _width, height: _height }
        }
    },
    computed: {
        ...Vuex.mapState(['bubblePosition', 'isActive'])
    }
    
};
</script>

<style scoped>
div {
    height: 5rem;
    width: 5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}
</style>
