<template>
    <section id="chat" class="column is-4 is-offset-8">
        <div class="chat-header has-background-primary columns">
            <div>
                <span class="image"></span>
            </div>
            <div class="chat-header-name has-text-white">
                <span><b>Ricardo</b></span>
                <br>
                <span 
                    v-if="typing"
                    >
                    &nbsp;is typing <span v-for="point in points">{{point}}</span>
                </span>
                <span 
                    v-else
                    >
                    &nbsp;    
                </span>
            </div>
        </div>
        <div class="chat-body has-background-white-bis">
            <Message 
                v-for="message in visibleMessages"
                :key="JSON.stringify(message)"
                :sender="message.sender"
                :text="message.text"
                >
            </Message>
        </div>
        <div class="chat-footer has-background-white-bis">
            <form>
                <div class="field has-addons">
                    <div class="control">
                        <input
                            v-model="message"
                            @keyup.enter="addMessage"
                            class="input" 
                            type="text" 
                            placeholder="Write a question"
                            >
                    </div>
                    <div class="control">
                        <a
                            @click="addMessage"
                            class="button is-primary"
                            >
                            <img :src="sendButton">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
import Vuex from 'vuex'
import textMessages from '../../data/textMessages.js'
import Message from './Message'
const ricardo = 0
const other = 1
const maxPoints = 3

export default {
    name: 'Chat',
    components: {
        Message
    },
    data() {
        return {
            visibleMessages: [],
            points: [],
            typing: true,
            message: null
        }
    },
    methods: {
        write(messages) {
            setTimeout(() => {
                this.visibleMessages.push(messages.shift())

                if (messages.length > 0) {
                    this.write(messages)
                } else {
                    this.typing = false;
                }
            }, 3000)
        },
        addPoint() {
            setTimeout(() => {
                this.points.push('.')
                
                if (this.typing) {
                    if (this.points.length > maxPoints) {
                        this.points = []
                    }
                    this.addPoint()
                }
            }, 400)
        },
        addMessage() {
            if (this.message !== null) {
                this.visibleMessages.push({
                    'text': this.message,
                    'sender': other
                })
                this.message = null
            }
        }
    },
    computed: {
        ...Vuex.mapState(['isActive']),
        sendButton() {
            return require('../../assets/images/send-button.png')
        }
    },
    mounted() {
        let initialMessages = textMessages.map(message => {
            return {
                'text': message,
                'sender': ricardo
            }
        });
        this.write(initialMessages)
        this.addPoint();
    }
};
</script>

<style scoped>
section {
    margin-top: 5rem;
    position: fixed;
    bottom: 1rem;
    right: 8rem;
}

section > div {
    padding: 1rem;
}

.chat-header {
    margin: 0 !important;
}

.chat-header-name {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.image {
    height: 3rem;
    width: 3rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.chat-body {
    margin-top: 0;
    margin-bottom: 0;
    height: 12rem;
    overflow-y: auto;
}

input, .button {
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.field.has-addons .control:not(:last-child) {
    width: 100%;
}
</style>
