<template>
    <footer class="footer">
        <div class="content has-text-centered">
            <ul>
                <li>
                <a href="https://www.linkedin.com/in/ricardo-morato-mateos">
                    <figure 
                        class="image is-32x32"
                        >
                        <img :src="getLogo('linkedin.png')">
                    </figure>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/ricardomoratomateos">                
                            <figure 
                                class="image is-32x32"
                                >
                                <img :src="getLogo('github.png')">
                            </figure>
                    </a>
                </li>
            </ul>
            <p><a href="mailto:ricardomoratomateos@gmail.com">ricardomoratomateos@gmail.com</a></p>
        </div>
    </footer>
</template>

<script>
export default {
    name: "Footer",
    methods: {
        getLogo(image) {
            return require('../../assets/images/logos/' + image)
        }
    }
};
</script>

<style scoped>
ul > li {
    display: inline-block;
    *display: inline; /* this fix is needed for IE7- */
    zoom: 1;
    margin: 0 0.3rem;
}
</style>