<template>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a 
            @click="isActive = !isActive"
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
        <div 
            class="navbar-menu"
            :class="{'is-active': isActive}"
            >
            <div class="navbar-end">
                <router-link
                    to="/"
                    @click.native="toggleMenu"
                    class="navbar-item"
                    >
                    Hello
                </router-link>
                <router-link
                    to="/career"
                    @click.native="toggleMenu"
                    class="navbar-item"
                    >
                    Career
                </router-link>
                <router-link
                    to="/studies"
                    @click.native="toggleMenu"
                    class="navbar-item"
                    >
                    Studies
                </router-link>
                <router-link
                    to="/courses"
                    @click.native="toggleMenu"
                    class="navbar-item"
                    >
                    Courses
                </router-link>
            </div>
        </div>
    </nav>
</template>

<script>
import anime from 'animejs'

export default {
    name: "Header",
    data() {
        return {
            isActive: false
        }
    },
    methods: {
        toggleMenu() {
            if (this.isActive) {
                this.isActive = false
            }
        }
    }
};
</script>

<style scoped>
.hero-head,
.hero-body {
    background-color: #42b983;
}
</style>