<template>
    <div>
        <section 
            v-for="(job, index) in jobs" 
            class="hero is-fullheight-with-navbar"
            :id="`job-${index}`"
            :key="`job-${index}`"
            >
            <div
                v-if="!isFirst(job)"
                class="hero-head"
                >
                <span
                    @click="scroll(index-1)"
                    class="pointer"
                    >
                    <img :src="getImage('up-arrow.png')"/>
                </span>
            </div>
            <div 
                class="hero-body columns"
                :style="displayBlock"
                >
                <div class="container column">
                    <img :src="getLogo(job.image)">
                </div>
                <div class="container column">
                    <h1 class="title">
                        {{job.enterprise}}
                    </h1>
                    <h2 class="subtitle">
                        {{job.description}}
                    </h2>
                    <h2 class="subtitle">
                        {{getJobDate(job)}}
                    </h2>
                    <p>
                        <ul>
                            <li
                                v-for="technology in job.technologies"
                                >
                                <figure 
                                    class="image is-32x32 tooltip is-tooltip-bottom"
                                    :data-tooltip="technology.description"
                                    >
                                    <img :src="getLogo(technology.logo)">
                                </figure>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div
                v-if="!isLast(job)"
                class="hero-foot"
                >
                <span
                    @click="scroll(index+1)"
                    class="pointer"
                    >
                    <img :src="getImage('down-arrow.png')"/>
                </span>
            </div>
        </section>
    </div>
</template>

<script>
import jobs from '../../data/jobs.js'
import tooltip from 'bulma-tooltip'

export default {
    name: 'Timeline',
    data() {
        return {
            jobs,
            width: 0
        }
    },
    methods: {
        getLogo(image) {
            return require('../../assets/images/logos/' + image)
        },
        getImage(image) {
            return require('../../assets/images/' + image)
        },
        getJobDate(job) {
            let endDate = job.endDate !== ''
                ? job.endDate.month + ' ' + job.endDate.year
                : 'Actually'
            let startDate = job.startDate.month + ' ' + job.startDate.year

            return startDate + ' - ' + endDate
        },
        isFirst(job) {
            return this.jobs[0].enterprise === job.enterprise
        },
        isLast(job) {
            let lastPosition = this.jobs.length - 1
            
            return this.jobs[lastPosition].enterprise === job.enterprise
        },
        scroll(index) {
            let navbarHeight = 52
            let element = document.querySelector(`#job-${index}`)
            // 52 is the height of the navbar
            let offsetTop = index === 0
                ? 0
                : element.offsetTop - navbarHeight

            window.scrollTo({
                'behavior': 'smooth',
                'left': 0,
                'top': offsetTop
            })
        },
        getWindowWidth(event) {
            this.width = window.innerWidth
        }
    },
    computed: {
        displayBlock() {
            if (this.width < 768) {
                return {
                    display: "block"
                }
            }
        }
    },
    mounted() {
        this.$nextTick(function() {
            window.addEventListener('resize', this.getWindowWidth)
            this.getWindowWidth()
        })
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.getWindowWidth)
    }
};
</script>

<style scoped>
html {
  scroll-behavior: smooth;
}

ul > li {
    display: inline-block;
    *display: inline; /* this fix is needed for IE7- */
    zoom: 1;
    margin: 0 0.3rem;
}

.pointer {
    cursor: pointer;
}
</style>
