<template>
    <section>
        <Timeline></Timeline>
    </section>
</template>

<script>
import Timeline from './Timeline'

export default {
    name: 'StudiesPage',
    components: {
        Timeline
    }
};
</script>

<style scoped>
.section {
    height: 100%;
}
</style>
