<template>
    <div>
        <section 
            v-for="(study, index) in studies" 
            class="hero is-fullheight-with-navbar"
            :id="`study-${index}`"
            :key="`study-${index}`"
            >
            <div
                v-if="!isFirst(study)"
                class="hero-head"
                >
                <span
                    @click="scroll(index-1)"
                    class="pointer"
                    >
                    <img :src="getImage('up-arrow.png')"/>
                </span>
            </div>            
            <div 
                class="hero-body columns"
                :style="displayBlock"
                >
                <div class="container column">
                    <img :src="getLogo(study.image)">
                </div>
                <div class="container column">
                    <h1 class="title">
                        {{study.center}}
                    </h1>
                    <h2 class="subtitle">
                        {{study.description}}
                    </h2>
                    <h2 class="subtitle">
                        {{getStudyDate(study)}}
                    </h2>
                </div>
            </div>
            <div
                v-if="!isLast(study)"
                class="hero-foot"
                >
                <span
                    @click="scroll(index+1)"
                    class="pointer"
                    >
                    <img :src="getImage('down-arrow.png')"/>
                </span>
            </div>
        </section>
    </div>
</template>

<script>
import studies from '../../data/studies.js'
import tooltip from 'bulma-tooltip'

export default {
    name: 'Timeline',
    data() {
        return {
            studies,
            width: 0
        }
    },
    methods: {
        getLogo(image) {
            return require('../../assets/images/logos/' + image)
        },
        getImage(image) {
            return require('../../assets/images/' + image)
        },
        getStudyDate(study) {
            let endDate = study.endDate !== ''
                ? study.endDate.month + ' ' + study.endDate.year
                : 'Actually'
            let startDate = study.startDate.month + ' ' + study.startDate.year

            return startDate + ' - ' + endDate
        },
        isFirst(study) {
            return this.studies[0].center === study.center
        },
        isLast(study) {
            let lastPosition = this.studies.length - 1
            
            return this.studies[lastPosition].center === study.center
        },
        scroll(index) {
            let navbarHeight = 52
            let element = document.querySelector(`#study-${index}`)
            // 52 is the height of the navbar
            let offsetTop = index === 0
                ? 0
                : element.offsetTop - navbarHeight

            window.scrollTo({
                'behavior': 'smooth',
                'left': 0,
                'top': offsetTop
            })
        },
        getWindowWidth(event) {
            this.width = window.innerWidth
        }
    },
    computed: {
        displayBlock() {
            if (this.width < 768) {
                return {
                    display: "block"
                }
            }
        }
    },
    mounted() {
        this.$nextTick(function() {
            window.addEventListener('resize', this.getWindowWidth)
            this.getWindowWidth()
        })
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.getWindowWidth)
    }
};
</script>

<style scoped>
html {
  scroll-behavior: smooth;
}

ul > li {
    display: inline-block;
    *display: inline; /* this fix is needed for IE7- */
    zoom: 1;
    margin: 0 0.3rem;
}

.pointer {
    cursor: pointer;
}
</style>
