<template>
    <div id="app">
        <AppHeader></AppHeader>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
        <!-- <Chat></Chat> -->
        <AppFooter></AppFooter>
    </div>
</template>

<script>
import router from './router'
import AppHeader from './components/layout/AppHeader'
import AppFooter from './components/layout/AppFooter'
import Chat from './components/chat/Chat'

export default {
    name: 'app',
    router,
    components: {
        AppHeader,
        AppFooter,
        Chat
    }
}
</script>

<style>
html, body{
    height: 100%;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
}
</style>
