<template>
    <section class="section hero is-full">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Hello! <i class="em em-hand"></i>
                </h1>
                <h1 class="title">
                    I'm Ricardo <i class="em em-boy"></i>
                </h1>
                <h1 class="title">
                    A computer engineering and a full stack developer based in Barcelona <i class="em em-desktop_computer"></i>
                </h1>
                <h1 class="title">
                    I have knowledges in these languajes and technologies
                </h1>
                <p>
                    <ul>
                        <li
                            v-for="technology in technologies"
                            >
                            <figure 
                                class="image is-32x32 tooltip is-tooltip-bottom"
                                :data-tooltip="technology.description"
                                >
                                <img :src="getLogo(technology.logo)">
                            </figure>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
</template>

<script>
import technologies from '../../data/technologies.js'

export default {
    name: 'HelloPage',
    data() {
        return {
            technologies
        }
    },
    methods: {
        getLogo(image) {
            return require('../../assets/images/logos/' + image)
        }
    }
};
</script>

<style scoped>
.section {
    min-height: 100%;
}

ul > li {
    display: inline-block;
    *display: inline; /* this fix is needed for IE7- */
    zoom: 1;
    margin: 0 0.3rem;
}
</style>
