<template>
    <section class="section hero is-full">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Oops, this page doesn't exists
                    <br>
                    <i class="em-svg em-man-facepalming"></i>
                </h1>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'NotFound'
};
</script>

<style scoped>
.section {
    height: 100%;
}

i {
    font-size: 100px;
}
</style>
